Trueques/cache/
Trueques/log/
Trueques/.vs/
Trueques/bin/
Trueques/.vs/Trueques/v15/.suo
Trueques/.vs/Trueques/v15/Server/sqlite3/storage.ide
Trueques/.vs/Trueques/v15/Server/sqlite3/storage.ide-shm
Trueques/.vs/Trueques/v15/Server/sqlite3/storage.ide-wal
Trueques/.vs/Trueques/v15/Server/sqlite3/storage.ide-shm
Trueques/.vs/Trueques/v15/Server/sqlite3/storage.ide-wal
Trueques/.vs/Trueques/v15/Server/sqlite3/storage.ide-wal
Trueques/.vs/Trueques/v15/.suo
*.ide-wal
Trueques/.vs/Trueques/v15/.suo
Trueques/Trueques/bin/Trueques.dll
Trueques/Trueques/bin/Trueques.pdb
Trueques/Trueques/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Trueques/Trueques/obj/Debug/Trueques.csprojAssemblyReference.cache
Trueques/Trueques/obj/Debug/Trueques.dll
Trueques/Trueques/obj/Debug/Trueques.pdb
